<div class="container-flud login-screen">
  <div class="login-form-container">
    <h3 class="center-block sys-title">
      carrots管理系统
    </h3>
    <form class="form-horizontal login-form" role="form">
      <div class="form-group">
        <div class="col-xs-12">
          <input type="text" class="form-control" [(ngModel)]="params.name" name="name" placeholder="username">
        </div>
      </div>
      <div class="form-group">
        <div class="col-xs-12">
          <input type="password" class="form-control" [(ngModel)]="params.pwd" minlength="8" name="pwd" placeholder="password">
        </div>
      </div>
      <div class="login-info" *ngIf="loginInfo">
        {{loginInfo}}
      </div>
      <div class="form-group">
        <div class="col-xs-12">
          <button class="btn btn-success btn-block" type="submit" (click)="login(params)">登录</button>
        </div>
      </div>
    </form>
  </div>
</div>
