<div class="sidebar">
  <ul class="sidebar-ul">
    <li class="sidebar-li">
      <a class="sidebar-link"><i class="fa fa-pencil"></i>Article管理
        <span class="fa fa-angle-down fa-lg"></span>
      </a>
      <ul class="al-sidebar-ul">
        <li class="al-sidebar-li">
          <a class="al-sidebar-link" routerLink="/main/articleList">Article列表</a>
        </li>
        <li class="al-sidebar-li">
          <a class="al-sidebar-link" routerLink="/main/articleAdd">Article新增</a>
        </li>
      </ul>
    </li>
  </ul>
</div>
