.card{
  margin-bottom:20px;
}
.card-header{
  line-height: 31px;
}
.form-group>label{
  font-size: 14px;
  font-weight: 700;
}
.table{
  font-size: 14px;
}
.action{
  cursor: pointer;
  margin-left: 15px;
}
.page-wrapper{
  display:flex;
  padding-bottom: 25px;
}
td{
  max-width: 120px;
}
.size-wrapper{
  height: 35px;
  line-height: 35px;
  margin-right: 25px;
}
input.number{
  width: 46px;
  height: 29px;
  margin: 0 10px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  color: inherit;
  border: 1px solid #aaa;
  border-radius: 5px;
  background-color: rgba(255,255,255,0.1);
  box-shadow: none;
  padding: 0 10px;
  white-space: nowrap;
  overflow: hidden;
}
.change-size-button{
  color: #007bff;
  background-color: #fff;
  border: 1px solid #dee2e6;
  font-size: 14px;
  margin-bottom: 5px;
}

