.card{
  margin-bottom:20px;
}
.card-header{
  line-height: 31px;
}
.form-group>label{
  font-size: 14px;
  font-weight: 700;
}
.table{
  font-size: 14px;
}
.action{
  cursor: pointer;
  margin-left: 15px;
}
.page-wrapper{
  display:flex;
}

